.destination {
    background-color: transparent;
    display: flex;
    justify-content: center;
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
}
    
.rectangle {
    -webkit-backdrop-filter: blur(1px) brightness(100%);
    backdrop-filter: blur(1px) brightness(100%);
    background-color: #ffffff;
    border-radius: 10px;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
 
.frame {
    height: 60px;
    width: 214px;
}

.text-wrapper4 {
    color: #524a63;
    font-size: 48px;
    font-weight: 700;
    height: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
}

.h-1 {
    color: #000000;
    margin-top: 3vh;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.cards{
    position: relative;
    justify-content: center;
    margin: 3vh 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex: 0 0 250px;

}

.card {
	width: 200px;
	height: 250px;
	color: #151515;
	perspective: 800px;
}
.card__inner {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}
.card:hover .card__inner {
	transform: rotateY(-180deg);
}
.card__side {
	position: absolute;
	inset: 0;
	background-color: rgba(82, 74, 99, 0.45);
	display: grid;
	grid-template-rows: 180px 1fr;
	backface-visibility: hidden;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border: none;
}
.card__side--back {
	transform: rotateY(180deg);
}
.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card__body {
	padding: 16px;
	font-size: 12px;
}
.card__body--flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card__title {
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 10px;
}
.card__arrow {
	display: grid;
	place-items: center;
	width: 30px;
	height: 30px;
	border: 2px solid #000;
	border-radius: 50%;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 3vh;
    }

.button1{
    color: #ffffff;
    background-color: #524a63;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.23px;
    line-height: 27px;
    white-space: nowrap;
    justify-content: center;
    padding: 16px 130px;
    position: relative;
    width: 100px;
    border: none;
    border-radius: 5px; 
    align-items: center; 
    display: inline-flex
}

.button2 {
    background-color: rgba(82, 74, 99, 0.25);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.23px;
    line-height: 27px;
    white-space: nowrap;
    justify-content: center;
    padding: 16px 130px;
    position: relative;
    width: 100px;
    border-radius: 5px; 
    align-items: center; 
    display: inline-flex
}
    