.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.slogan-wrapper {
    border: 0px none;
    height: 100%;
    position: relative;
    width: 100%;
    margin-top: 5vh;
    margin-left: 10vw;
}

.slogan {
    height: 192px;
    width: 420px;
    left: 100px;
}

.box .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
}

.box .div {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 64px;
    font-weight: 700;
    left: 98px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 95px;
}

.box .text-wrapper-2 {
    color: #91bcc9;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0.4px;
    line-height: 68px;
    position: absolute;
    top: 95px;
    white-space: nowrap;
}
